.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    margin: 1rem;
}

.link {
    cursor: pointer;
    color: #004AAD;
    font: 20pt/1.5 Lato, Tahoma, Arial, SansSerif;
}

.link:hover {
    color: #FFDE59;
}

.link:nth-child(n+1) {
    margin-left: 1rem;
}

.link_image {
    height: 20pt;
}